In [ ]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
import matplotlib.pyplot as plt

import cv2

from sklearn.pipeline import Pipeline

from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso


from sklearn.preprocessing import PolynomialFeatures

import sklearn.metrics as sm

from sklearn.metrics import accuracy_score

In [ ]:
df = pd.read_csv("datahb.csv")

cols = ["Gender", "Red", "Blue" ,"Green", "Hb"]
df.head()

        Name Gender      Red    Green     Blue    Hb
0   Shahalam      M  47.6372  26.7953  25.5675  15.1
1  Md.Ismail      M  45.6906  30.0735  24.2359   9.1
2     Saiful      M  43.4098  31.2315  25.3586  12.9
3      Yamin      M  44.4252  28.7436  26.8312  14.7
4      Tarek      M  44.3297  28.7617  26.9086  14.1

In [ ]:
def encoder(series):
  le = preprocessing.LabelEncoder()
  series = le.fit_transform(series)

  return series

In [ ]:
# cleaning the data
def clean(data,cols):

  data = data.drop(["Name"],axis = 1)

  for col in cols:
    data[col].fillna(data[col].mean(),inplace = True)

    return data

In [ ]:
df["Gender"] = encoder(df["Gender"])

In [ ]:
df = clean(df,cols)
df.head()

   Gender      Red    Green     Blue    Hb
0       1  47.6372  26.7953  25.5675  15.1
1       1  45.6906  30.0735  24.2359   9.1
2       1  43.4098  31.2315  25.3586  12.9
3       1  44.4252  28.7436  26.8312  14.7
4       1  44.3297  28.7617  26.9086  14.1

#Feature Engineering

In [ ]:
def get_Xy(data, Target, inp):

  if inp == "F":
    X = data[(data["Gender"] == 0)]
    y = data[(data["Gender"] == 0)]["Hb"]
  else:
    X = data[(data["Gender"] == 1)]
    y = data[(data["Gender"] == 1)]["Hb"]

  # # y = data["Hb"]
  # y = data["Hb"]
  # # X = data.drop("Gender", axis = 1)

  X = X.drop(Target, axis = 1)

  return X,y

In [ ]:
X,y = get_Xy(df,"Hb","F")

#Adding new Feature suggested by Taff

In [ ]:
X["BG5"] = X["Blue"]*X["Green"]**5
X["RG5"] = X["Red"]*X["Green"]**5
X["R3"] = X["Red"]**3

X = X.drop("Blue", axis = 1)
X

     Gender      Red    Green           BG5           RG5             R3
30        0  47.1003  28.3195  4.477252e+08  8.579295e+08  104489.107582
36        0  50.3562  29.2206  4.350803e+08  1.072750e+09  127690.576960
37        0  43.9224  29.8338  6.202517e+08  1.038075e+09   84734.093605
38        0  45.0693  29.8506  5.944216e+08  1.068184e+09   91546.646169
41        0  38.7968  31.3618  9.053658e+08  1.177066e+09   58396.620968
42        0  45.4201  29.4684  5.580273e+08  1.009325e+09   93701.006982
43        0  44.1609  29.5993  5.961690e+08  1.003333e+09   86121.928688
44        0  44.1609  29.5993  5.961690e+08  1.003333e+09   86121.928688
45        0  42.5892  31.5405  8.075034e+08  1.329359e+09   77249.992681
46        0  46.9597  28.4993  4.613847e+08  8.828690e+08  103556.160831
47        0  44.1995  29.4860  5.865087e+08  9.851371e+08   86347.957573
48        0  41.1330  32.3681  9.414860e+08  1.461425e+09   69593.897100
49        0  52.9108  26.7881  2.800445e+08  7.298841e+08  148126.575996
50        0  50.4976  28.8065  4.105243e+08  1.001667e+09  128769.264073
53        0  49.5899  28.9754  4.377888e+08  1.012839e+09  121949.408330
54        0  45.9707  30.9397  6.546315e+08  1.303352e+09   97150.122046
55        0  42.4532  30.9448  7.548361e+08  1.204617e+09   76512.306653
56        0  44.3346  30.4043  6.563376e+08  1.151908e+09   87142.172606
57        0  43.8783  29.4752  5.928215e+08  9.761883e+08   84479.119635
58        0  42.8269  29.0594  5.825742e+08  8.874622e+08   78550.674419
59        0  43.1335  29.3459  5.989562e+08  9.387541e+08   80249.825950
61        0  50.4801  25.1403  2.448380e+08  5.069586e+08  128635.435063
62        0  46.2550  27.2758  3.996026e+08  6.983066e+08   98963.730031
64        0  46.5811  29.7082  5.486888e+08  1.077932e+09  101071.618479
67        0  46.3745  28.8820  4.972759e+08  9.319992e+08   99732.733058
68        0  43.1425  30.2890  6.773191e+08  1.099841e+09   80300.069900
73        0  51.5802  28.2678  3.637292e+08  9.309858e+08  137230.000616
74        0  48.3681  26.9220  3.494681e+08  6.840623e+08  113155.868733
75        0  47.3260  27.2780  3.835553e+08  7.147636e+08  105998.421562
78        0  45.6064  31.9084  7.437413e+08  1.508520e+09   94858.745316
79        0  45.2095  29.2769  5.487786e+08  9.724228e+08   92403.646879
80        0  43.5706  29.8094  6.265743e+08  1.025557e+09   82714.304361
82        0  45.6033  28.1900  4.665387e+08  8.118423e+08   94839.403154
84        0  44.5398  28.9899  5.419915e+08  9.119727e+08   88357.778382
85        0  43.2870  30.6972  7.091384e+08  1.179917e+09   81109.638241
87        0  43.1457  30.1628  6.663943e+08  1.077199e+09   80317.939468
88        0  43.6103  29.1099  5.702230e+08  9.115755e+08   82940.609542
89        0  45.0423  29.1660  5.443347e+08  9.506156e+08   91382.214130
90        0  46.5143  27.4282  4.045007e+08  7.220596e+08  100637.414054
91        0  45.3506  29.1248  5.349014e+08  9.503811e+08   93271.532344
92        0  44.4062  28.9298  5.403218e+08  8.998513e+08   87565.056416
93        0  44.9642  30.5279  6.498165e+08  1.192207e+09   90907.687976
97        0  42.5358  30.1604  6.814126e+08  1.061549e+09   76959.779705
98        0  44.0957  29.9973  6.292569e+08  1.071043e+09   85741.035397
99        0  45.7104  27.5693  4.255706e+08  7.280207e+08   95509.168718
100       0  40.9365  31.9687  9.047130e+08  1.366896e+09   68601.265211
101       0  44.9116  30.3761  6.391065e+08  1.161498e+09   90589.024275
102       0  43.4225  29.7889  6.283800e+08  1.018561e+09   81873.710225
103       0  43.3019  29.8285  6.344829e+08  1.022502e+09   81193.424342

In [ ]:
from sklearn.model_selection import train_test_split


X_train, X_val, y_train, y_val = train_test_split(X , y , test_size = 0.2, random_state = None)

print(type(X_val))

<class 'pandas.core.frame.DataFrame'>

#Pipeline

In [ ]:
steps = [
    ('scalar', StandardScaler()), # scales the data


    ('poly_features', PolynomialFeatures(degree=3)), # adds polynomial features till degree 3


    ('regularization', Ridge(alpha=5, fit_intercept= True))

    ]

In [ ]:
clf = Pipeline(steps)

clf = clf.fit(X_train,y_train)

In [ ]:
y_pred = clf.predict(X_val)
accuracy = round(sm.r2_score(y_val, y_pred), 2)

print("The R2 score is",accuracy, "(Best possible score is 1.0)")

The R2 score is -0.54 (Best possible score is 1.0)

#Training done till here

In [ ]:
# Function to get RGB % of an image
def rgb_percentage(string):
  red_count = 0
  blue_count = 0
  green_count = 0

  lower_red = np.array([50, 50, 102], dtype = "uint8")
  upper_red = np.array([255, 255, 144], dtype = "uint8")

  lower_blue = np.array([110, 50, 50], dtype = "uint8")
  upper_blue = np.array([130, 255, 255], dtype = "uint8")

  lower_green = np.array([50, 108, 50], dtype = "uint8")
  upper_green = np.array([255, 130, 255], dtype = "uint8")

  image = cv2.imread(string)  # string is image name

  green_mask = cv2.inRange(image, lower_green, upper_green)
  for row in green_mask:
    for col in row:
      if col !=0:
        green_count = green_count +1

  blue_mask = cv2.inRange(image, lower_blue, upper_blue)
  for row in blue_mask:
    for col in row:
      if col !=0:
        blue_count = blue_count +1

  red_mask = cv2.inRange(image, lower_red, upper_red)
  for row in red_mask:
    for col in row:
      if col !=0:
        red_count = red_count +1



  sum = red_count + blue_count + green_count
  red_px_p = red_count*100/sum
  blue_px_p = blue_count*100/sum
  green_px_p = green_count*100/sum

  return red_px_p, green_px_p, blue_px_p



  # green_mask= green_mask.tolist()
  # for i in range(len(green_mask)):
  #   for j in range(len(green_mask[i])):
  #     if green_mask[i][j] != 0:
  #       green_count = green_count + 1

  # blue_mask= blue_mask.tolist()
  # for i in range(len(blue_mask)):
  #   for j in range(len(blue_mask[i])):
  #     if blue_mask[i][j] != 0:
  #       blue_count = blue_count + 1



  # red_mask= red_mask.tolist()
  # for i in range(len(red_mask)):
  #   for j in range(len(red_mask[i])):
  #     if red_mask[i][j] != 0:
  #       red_count = red_count + 1

In [ ]:
# Function for converting real time inputs into dataframe
def new_df( gender, red, green, blue):
    feature_1 = blue*pow(green,5)
    feature_2 = red*pow(green,5)
    red_corr = pow(red,3)
    data_add = (red, green, gender, feature_1, feature_2, red_corr)



    return data_add

In [ ]:
img = "noorain.jpg"

In [ ]:
red_p , green_p , blue_p = rgb_percentage(img)
# x_test = x_test.tolist()
gender = 0
x_sub = np.asarray(new_df(gender, red_p, green_p, blue_p))
x_sub = x_sub.reshape(1,-1)

x_sub = pd.DataFrame(x_sub, columns = ["Gender" , "Red", "Green", "BG5", "RG5", "R3"], index = [1])


print(np.asarray(x_sub))
y_pred = clf.predict(x_sub)
print(red_p,
green_p,
blue_p)
print(y_pred)

[[5.29224001e+01 3.03087733e+01 0.00000000e+00 4.28888569e+08
  1.35357190e+09 1.48224023e+05]]
52.922400147164694 30.308773332303787 16.76882652053152
[1292.32304704]